form {
    display: flex;
    flex-direction: column;
}
input {
    margin-top: 10px;
}
button {
    margin-top: 10px;
}
.wrapper {
    display: flex;
    max-width: 60%;
    background-color: lightgrey;
    margin: 0 auto;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 70%;
}